# Transform

In principle using `.groupby()` and then merging our aggregates back to our original dataframe is quite common. Maybe you want to group by some information (things like say, average session length) and add this information to a raw dataset. 

To perform the aggregation first makes sense, but especially for large dataframes the join/merge operations that follow can be a bit expensive. There is an alternative.

In this section we will cover:

* [Overview of `transform()`](#overview)
* [<mark>Exercise: Use `transform()` and `assign()` to create new columns</mark>](#exercise)

Before we do anything though let's again import pandas read in our data.

In [1]:
import pandas as pd

chickweight = (
    pd.read_csv('../data/chickweight.csv') 
    .rename(str.lower, axis='columns')
)

<a id='overview'></a>

## Overview of `transform()`

<img src="../images/alternative.png" width="140" height="140" align="center"/>

The `.transform()` method allows us to do aggregation, as well as the join/merge in one go. 

To demonstrate how this works, let us imagine we want to add the mean chickweight per diet to the dataframe.

In [3]:
mean_weight_per_diet = (
    chickweight
    .groupby("diet")['weight']
    .mean()
)
mean_weight_per_diet

The problem here is that aggregating produces a dataframe which is a length to our original dataframe.

In [4]:
chickweight.shape

(578, 5)

In [5]:
(
    chickweight
    .groupby("diet")['weight']
    .mean()
).shape

(4,)

This is why previously we used merge or join to combine this data.

In [6]:
(
    chickweight
    .merge(mean_weight_per_diet, on='diet', suffixes=('','_mean'))
)

     rownum  weight  time  chick  diet  weight_mean
0         1      42     0      1     1   102.645455
1         2      51     2      1     1   102.645455
2         3      59     4      1     1   102.645455
3         4      64     6      1     1   102.645455
4         5      76     8      1     1   102.645455
..      ...     ...   ...    ...   ...          ...
573     574     175    14     50     4   135.262712
574     575     205    16     50     4   135.262712
575     576     234    18     50     4   135.262712
576     577     264    20     50     4   135.262712
577     578     264    21     50     4   135.262712

[578 rows x 6 columns]

However if we use the the `.transform()` method, we can calculate the mean chick weight information and add it to the chickweight datafame in one go.

When we use transform the the values corespond to the different diets.

In [ ]:
(
    chickweight
    .groupby("diet")['weight']
    .transform('mean')
)

Importantly, the output is the same length as the original dataframe and

In [ ]:
(
    chickweight
    .groupby("diet")['weight']
    .transform('mean')
).shape

This means we can easily add this information as a new column in one go with the `.assign()` method.

In [7]:
(
    chickweight
    .assign(mean_weight_diet = chickweight.groupby("diet")['weight'].transform('mean'))
)

     rownum  weight  time  chick  diet  mean_weight_diet
0         1      42     0      1     1        102.645455
1         2      51     2      1     1        102.645455
2         3      59     4      1     1        102.645455
3         4      64     6      1     1        102.645455
4         5      76     8      1     1        102.645455
..      ...     ...   ...    ...   ...               ...
573     574     175    14     50     4        135.262712
574     575     205    16     50     4        135.262712
575     576     234    18     50     4        135.262712
576     577     264    20     50     4        135.262712
577     578     264    21     50     4        135.262712

[578 rows x 6 columns]

<a id='exercise'></a>
## <mark>Exercises: Use `.assign()` and `transform()` to create new columns</mark>

### Exercise 1

Take the original `chickweight` dataframe and create these columns on the raw data without performing a join: 

1. **mean_weight_diet**: which calculates the mean weight per diet 
2. **mean_weight_diet_time**: which calculates the mean weight per diet at a given time

**BONUS:**

3. **num_chickens_diet**: which calculates the total number of chickens per diet - explore what the `.nunique()` method does to do this.

In [ ]:
# %load ../answers/ex-transforms.py

### Exercise 2: Find the fattest chicken per diet

Do you rember in the last notebook we tried to find the fattest chicken per diet?

Is it any easier now we know about the `transform` method?

In [ ]:
# %load ../answers/ex-fattest2.py