In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

# Scikit-Learn Advanced: Titanic dataset
<img src="images/04_sklearn_advanced/titanic.png" style="display: block;margin-left: auto;margin-right: auto;width: 300px"/>

## About the data
In this notebook we will work with the [Titanic dataset](https://www.kaggle.com/c/titanic/data), containing historical data about Titanic passengers and whether they survived the wreck.


| Variable | Definition                                  | Key                                            |
| -------- | ------------------------------------------- | ---------------------------------------------- |
|  |
| survival | Survival                                    | 0 = No, 1 = Yes                                |
| pclass   | Ticket class                                | 1 = 1st, 2 = 2nd, 3 = 3rd                      |
| sex      | Sex                                         |                                                |
| age      | Age in years                                |                                                |
| sibsp    | \# of siblings / spouses aboard the Titanic |                                                |
| parch    | \# of parents / children aboard the Titanic |                                                |
| fare     | Passenger fare                              |                                                |
| cabin    | Cabin number                                |                                                |
| embarked | Port of Embarkation                         | C = Cherbourg, Q = Queenstown, S = Southampton |

## Titanic disaster survivor classification
In this notebook, we will demonstrate how to model whether a given passenger aboard the Titanic is expected to have survived the disaster with scikit-learn. 

Due to the nature of the data, this dataset requires a little more elaborate processing before we can get started. This allows us to introduce:
* **Preprocessing** with scikit-learn transformers
*  **Pipelines**
* **Cross-validation** 
* **Grid-search** for hyperparameter tuning

## 1. Loading in the data

The data is loaded from a package called _seaborn_. Seaborn was imported in the first cell (`import seaborn as sns`) and has a `.load_dataset` function that provides us with the Titanic dataset as a Pandas DataFrame.

In [2]:
titanic_df = sns.load_dataset('titanic')
titanic_df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

## 2. Exploratory Data Analysis

Take some time to examine the dataset. Below are some suggestions for what you may want to investigate. Note that this is not an exhaustive list; see if you can find something interesting!

    - How much data do we have? how many features?
    - What do the features represent
    - What datatypes does it contain? Are there any missing values?
    
    - Investigate how many different values some of the categorical features contain
    - Is there any redundant information?
    
    - Produce some summary statistics for the different features
    - Are any of the features correlated?
    - Group the data by the survived column and compare statistics

In [3]:
# Your EDA code here.

Think about it:
- What do you imagine a machine learning algorithm will do with missing values? 
- Do you think duplicate columns will improve or hurt performance? 
- Do you imagine a machine learning algorithm can deal with categorical values (strings)? 

Clearly some issues need to be resolved before we can do machine learning on this dataset.

Write down your thoughts here..

## 3. Preprocessing

Raw datasets are often not suitable for machine learning algorithms. For example, the dataset may contain categorical features or have missing values. Preprocessing the dataset to ensure that machine learning is feasible is therefore an import phase of a project.

In the dataset we found plenty of interesting variables, though quite a few need preprocessing. Let's first remove the redundant columns and drop rows with missing values*.

**With Scikit-Learn we can actually impute missing values but for now this approach will be sufficient*

In [4]:
titanic_df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [5]:
# Remove irrelevant features & missing values.
# Later we will discuss alternatives to this.
titanic_processed = (
    titanic_df
    .drop(['embarked', 'sex', 'adult_male','deck','alive', 'class'], axis=1)
    .dropna()
)

# Get the feature matrix & target vector
titanic_features = (
    titanic_processed
    .drop(['survived'], axis=1)
)
titanic_labels = titanic_processed['survived']

# Notice that we now use Pandas dataframe & series rather than numpy arrays - this is also possible with sklearn!
print(titanic_features.shape, titanic_labels.shape)

(712, 8) (712,)

In [6]:
titanic_features.head()

   pclass   age  sibsp  parch     fare    who  embark_town  alone
0       3  22.0      1      0   7.2500    man  Southampton  False
1       1  38.0      1      0  71.2833  woman    Cherbourg  False
2       3  26.0      0      0   7.9250  woman  Southampton   True
3       1  35.0      1      0  53.1000  woman  Southampton  False
4       3  35.0      0      0   8.0500    man  Southampton   True

In [7]:
titanic_labels.head()

0    0
1    1
2    1
3    1
4    0
Name: survived, dtype: int64

### 3.1 Variable encoding

It would still be rather difficult to work with the raw dataset. One reason is that it contains categorical values that are represented as strings, e.g passenger class comes as text: "First", "Second" and "Third". A machine learning model cannot handle strings; it requires the input to be numeric. Therefore, we need to transform these categorical variables to numeric values that represent the same information.

Fortunately, scikit-learn makes that easy for us to do.

#### Encoding target vector y

We can numerically encode a column using the `LabelEncoder` from Scikit-Learn.

Normally this is used for the target or label column (although in our case this is not necessary). However, it can also be used for columns in the feature matrix.

In [8]:
from sklearn.preprocessing import LabelEncoder

Much like the machine learning estimators, in Scikit-Learn, the preprocessing algorithms are implemented as Python objects. They are referred to as *transformers*.

Once you have picked the transformer algorithm you will use, you instantiate it.

In [9]:
label_encoder = LabelEncoder()

Transformers have a `.fit()` method implemented so that they can learn the paramters to transform data. The `.transform()` method is then used to perform the transformation. Let's demonstrate this on the `embark_town` column of the dataset:

In [10]:
print('Before transformation:')
print(titanic_features['embark_town'])

label_encoder.fit(titanic_features['embark_town'])
new_col = label_encoder.transform(titanic_features['embark_town'])

print('\n\nAfter transformation:')
print(new_col)

Before transformation:
0      Southampton
1        Cherbourg
2      Southampton
3      Southampton
4      Southampton
          ...
885     Queenstown
886    Southampton
887    Southampton
889      Cherbourg
890     Queenstown
Name: embark_town, Length: 712, dtype: object


After transformation:
[2 0 2 2 2 2 2 2 0 2 2 2 2 2 2 1 2 2 2 1 2 2 2 2 0 2 0 2 2 2 0 2 2 0 1 2 2
 2 0 2 0 2 0 2 2 0 2 2 2 2 2 2 2 2 2 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 0
 0 2 2 2 2 2 2 2 2 2 2 0 2 2 0 2 1 2 0 2 2 0 2 2 0 2 2 0 2 2 2 2 0 2 2 2 0
 2 2 1 2 2 2 2 2 2 2 2 2 2 0 1 2 2 2 2 2 2 2 2 2 2 1 2 2 0 2 0 2 2 2 2 2 2
 1 2 2 2 2 2 0 0 2 2 2 2 0 2 2 2 0 1 0 2 2 2 2 0 2 2 0 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 0 1 2 2 2 2 2 2 2 2 0 2 0 2 2 2 2 2 2 2 2 2 2 2 0 2 2
 1 2 1 2 2 2 0 2 2 2 1 2 0 0 2 2 0 2 0 2 2 0 0 0 0 0 2 2 2 2 2 2 2 0 2 2 1
 2 0 2 2 2 0 2 2 2 2 0 2 2 2 2 2 2 2 2 2 2 2 2 0 2 2 2 2 2 0 0 2 2 0 0 0 2
 2 0 2 2 0 0 2 0 0 2 2 2 2 2 0 2 2 2 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 1 2 2
 2 2 2 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 0 2 2 0 0 0 2 2 2 2 2
 2 2 2 0 2 2 0 2 2 2 2 2 2 2 2 0 2 0 2 2 2 2 0 2 0 2 2 2 1 2 2 0 2 2 2 1 2
 0 2 2 2 2 2 2 2 0 1 2 2 2 2 0 2 2 2 0 0 2 2 2 2 0 2 2 2 2 0 2 0 2 2 0 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 0 2 0 2 2 0 2 2 0 2 2 2 2 0 2 2 0 2 2 2 0 2
 2 2 2 2 2 2 2 0 2 0 2 2 2 1 2 2 2 2 0 2 2 2 2 2 2 0 2 0 0 2 0 2 2 2 1 2 1
 2 0 2 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 0 0 2 2 2 0 2 2 2 2 2 0 0 2 2 2 0 2 0
 2 0 1 2 2 2 2 2 0 2 2 2 2 0 2 2 2 2 2 2 2 2 2 2 2 2 0 2 2 2 2 0 2 0 2 2 2
 2 2 2 1 2 2 2 2 2 2 2 2 2 2 2 0 2 2 2 1 2 2 2 2 2 2 2 2 0 2 2 2 2 2 1 2 0
 2 2 2 2 2 0 2 2 2 2 0 2 2 2 2 2 2 2 2 2 2 2 2 0 2 2 2 2 2 2 2 0 0 2 2 2 0
 2 2 2 2 0 0 2 2 0 2 2 2 0 2 2 2 2 2 0 2 2 2 2 2 0 2 2 2 2 2 2 0 0 2 2 0 2
 2 2 2 2 1 2 2 0 1]

They also have a `.fit_transform()` method implemented so that the transformation can be performed directly after the paramters have been learnt.

In [ ]:
print('Before transformation:')
print(titanic_features['alone'])

new_col = label_encoder.fit_transform(titanic_features['alone'])

print('\n\nAfter transformation:')
print(new_col)

#### 3.2 Ordinally encoding feature matrix X

The `LabelEncoder` is a transformer that is specifically meant to convert the target variable. It can therefore only except a vector and is not able to encode multiple columns at once. 

In our feature matrix, however, we also have categorical columns that we need to transform, and it would be more practical to encode them all at once (rather than one column at the time). 

One way of doing this could be to use the `OrdinalEncoder`, which can ordinally encode multiple features at the same time.

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

ordinal_encoder = OrdinalEncoder()
transformed_data = ordinal_encoder.fit_transform(titanic_features[[ 'who', 'embark_town', 'alone']])
transformed_data

In [ ]:
type(transformed_data)

In [ ]:
transformed_data.shape

We notice two things here:
1. Our output is no longer a Pandas DataFrame -- it's a `numpy` array! 
2. We only have 3 features left -- all the features that weren't transformed were discarded! 

The first point is something we simply have to deal with. We could transform our data back to a Pandas DataFrame to make the data more readable to us, but scikit-learn is quicker with `numpy` arrays than Pandas DataFrames, so we could also leave it as is.

In [ ]:
new_df = pd.DataFrame(transformed_data, columns=[ 'who', 'embark_town', 'alone'])
new_df

The second point, however, is more important. We've lost valuable information. 

A solution to this would be to use the `ColumnTransformer`.

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.compose import ColumnTransformer 


categorical_columns = [ 'who', 'embark_town', 'alone']

ct = ColumnTransformer(
    [
    ("ordinal", OrdinalEncoder(), categorical_columns)
    ], remainder="passthrough") 

# The output of fit_transform is no longer a pandas df, but now a numpy matrix. 
feature_matrix = ct.fit_transform(titanic_features)

print(feature_matrix[0:5])

Note that the ColumnTransformer will affect the order of your columns!

#### 3.3 One-hot encoding features

What issues could we get from using an `OrdinalEncoder()` on some of the categorical values?

This way of encoding categorial values may work for problems where there is a natural ordinal relationship between the categories, and in turn the integer values, such as labels for temperature ‘cold’, warm’, and ‘hot’.

There may be problems when there is no ordinal relationship and allowing the representation to lean on any such relationship might be damaging to learning to solve the problem. An example might be the labels ‘red’, 'blue' and ‘green’

In these cases, we would like to give the algorithm more expressive power, we require one-hot encoding.

*Ordinal encoding*
```
Southampton    -> 0
Cherbourg      -> 1
Queenstown     -> 2
```

*One-hot encoding*
```
Southampton    -> [1, 0, 0]
Cherbourg      -> [0, 1, 0]
Queenstown     -> [0, 0, 1]
```

Fortunately, we can use sklearn's `OneHotEncoder()` for this purpose. This can also help us encode multiple features at the same time.

Again, we do not want to encode *all* of the features. We only want to pass some of the columns into the `OneHotEncoder()`. Like before, we use the `ColumnTransformer()` to do this.

In [ ]:
print(titanic_features.shape)

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer 

ct = ColumnTransformer(
    [
    ("onehot", OneHotEncoder(drop='first'), [ 'who', 'embark_town', 'alone'])
    ], remainder="passthrough") 

# The output of fit_transform is no longer a pandas df, but now a numpy matrix. 
feature_matrix = ct.fit_transform(titanic_features)

print(feature_matrix[0:5])

print(feature_matrix.shape)

**Keep in mind:**

We use the `drop='first'` option in OneHotEncoder, which ensures that we keep *n-1* dummies per categorical variable.

*One-hot encoding with drop='first'*
```
Southampton    -> [0, 0]
Cherbourg      -> [1, 0]
Queenstown     -> [0, 1]
```

`ColumnTransformer` can also simultaneously apply a different transformation to other columns if we specify an extra step.

### 3.2 Feature Scaling

Your preprocessed data may contain attributes with a mixtures of scales for various quantities such as dollars, kilograms and sales volume. 

However, many machine learning algorithms perform better when numerical input variables are scaled to a standard range. [For example](https://gdd.li/04_sklearn), algorithms that use distance measures, like k-nearest neighbors.

We want to ensure our variables share a similar scale. However, it is important to be aware of when to do feature scaling to avoid data leakage.

#### Data Leakage

We want to avoid any information from the test set leaking into the training set; it is important our machine learning algorithm learns only from the training data! 

If information from the test set *does* leak into the training data, it may cause our metrics to overestimate our model's performance.

Therefore we must do the train-test split *before* we do feature scaling (and other forms of preprocessing).

In [ ]:
# Rename to X and y for consistency. 
X = feature_matrix
y = titanic_labels

print(type(X))
print(type(y))

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=111, stratify=y)

When performing classification, we can set `stratify` to ensure a consistent split across training and test sets. This can be useful to get a more reliable score for your model.

#### Feature scaling with sklearn

`StandardScaler()` and `MinMaxScaler()` from `sklearn.preprocessing` allow us to scale the data together with applying the `fit_transform()` method

Remember to always first separate the data into train/test (and validation) sets and only then use feature scaling. If you take the mean and variance of the whole dataset you'll be introducing future information into the training process.

In [ ]:
from sklearn.preprocessing import StandardScaler

The `StandardScaler()` transforms features by removing the mean and scaling to unit variance.

In [ ]:
scaler = StandardScaler()

After instantiating the transformer, we learn *how* to transform the dataset on the training set with `.fit()`

We then transfom the train set with `.transform()`.

These two steps can be performed at once with `.fit_transform()`

In [ ]:
X_train_scaled = scaler.fit_transform(X_train)

In [ ]:
X_train_scaled.mean(axis = 0)

In [ ]:
X_train_scaled.std(axis = 0)

In [ ]:
X_train_scaled.min(axis = 0)

In [ ]:
X_train_scaled.max(axis = 0)

By using the `.transform()` on the test set,  we ensure it is encoded in the same way as the train set.

In [ ]:
X_test_scaled = scaler.transform(X_test)

In [ ]:
X_test_scaled.mean(axis = 0)

The `MinMaxScaler()` transforms features to be with a certain range, e.g. 0 & 1.

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)

In [ ]:
X_train_scaled.mean(axis = 0)

In [ ]:
X_train_scaled.min(axis = 0)

In [ ]:
X_train_scaled.max(axis = 0)

In [ ]:
X_test_scaled = scaler.transform(X_test)

There are other scaling options to use too. For example, the `RobustScaler`.

**Exercise**

1. Perform scaling on the train & test set with the RobustScaler. 
2. How do the MinMaxScaler, StandardScaler and RobustScaler differ? Can you think of circumstances where you'd use one over the other? 
3. Would you scale _all_ columns with the same scaler, or would you treat columns differently (e.g. one column with MinMaxScaler and another with the StandardScaler). Why or why not?

In [ ]:
from sklearn.preprocessing import RobustScaler
help(RobustScaler)

In [ ]:
# Your RobustScaler code here.

### 3.3 Other Preprocessing Tools in scikit-learn

Further preprocessing tools from `sklearn.preprocessing` could also be applied to our dataset. For example,
- Binarization: `Binarizer()`

    A common operation on text count data where the analyst can decide to only consider the presence or absence of a feature rather than a quantified number of occurrences for instance.

In [ ]:
from sklearn.preprocessing import Binarizer

X = [[ 1., -1.,  2.],
     [ 2.,  0.,  0.],
     [ 0.,  1., -1.]]

transformer = Binarizer(threshold = 0) 
transformer.fit_transform(X)


- Imputing Missing Values: `Imputer()`

    Address missing values in a column by imputting the mean, median, mode or another constant value.

In [ ]:
from sklearn.impute import SimpleImputer

X = [[1, 2, 3], 
     [4, np.nan, 6], 
     [10, 5, 9]]

transformer = SimpleImputer()
transformer.fit_transform(X)

In [ ]:
new_data = [[np.nan, np.nan, np.nan]]

transformer.transform(new_data)



- Generating Polynomial Features: `PolynomialFeatures()`

    Generate a new feature matrix consisting of all polynomial combinations of the features. For example, if an input sample is two dimensional and of the form [a, b], the degree-2 polynomial features are [1, a, b, a^2, ab, b^2]. This can help the model to learn more complex relationships.

In [ ]:
from sklearn.preprocessing import PolynomialFeatures

X = [[0, 1],
     [2, 3],
     [4, 5]]


transformer = PolynomialFeatures(interaction_only=True)
transformer.fit_transform(X)


### 3.4 Scikit-Learn transformers

The diagrams below are visualisations of a Scikit-Learn transformer.

`.fit()`

<img src="images/04_sklearn_advanced/transform.png" style="display: block;margin-left: auto;margin-right: auto;width: 600px"/>

`.fit_transform()`

<img src="images/04_sklearn_advanced/fit_transform.png" style="display: block;margin-left: auto;margin-right: auto;width: 600px"/>

## 4. Pipelines
> **"If you aren’t using pipelines you’re probably doing [Scikit-Learn] wrong."** - [Andreas Muller, Core Developer of Scikit-learn ](https://towardsdatascience.com/want-to-truly-master-scikit-learn-2-essential-tips-from-the-official-developer-himself-dada6ff56b99)

<img src="images/04_sklearn_advanced/sklearn-pipe.png" style="display: block;margin-left: auto;margin-right: auto;width: 600px"/>

#### What is a pipeline?

Whilst the statement above was probably an exaggeration, they are a great way to keep your code clean, consistent and mistake-free. 

Pipelines encapsulate all the preprocessing steps (feature selections, scaling, encoding of variables and so on), as well as the final model, into a single Scikit-Learn estimator. 

- Pipelines simplify and automate many steps in preprocessing and model training. 
- They give your workflow order and make it easier to read and understand. Later we will see how they can also be very useful during model optimization. 
- In addition to this including preprocessing as part of our model pipeline we can **avoid information leaks**

#### Pipeline for preprocessing

An sklearn `Pipeline` simply requires us to specify a number of steps and what should happen at each of them. In our case we are going to add interaction terms for our features using `PolynomialFeatures()` and then scale the resulting data with `MinMaxScaler()` (we are not going to use `X_train_scaled` from the previous step).

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import PolynomialFeatures


preprocess_pipeline = Pipeline(steps=[
    ('PFeatures', PolynomialFeatures(interaction_only=True)),
    ('scaler', MinMaxScaler())])

In [ ]:
preprocess_pipeline.fit_transform(X_train, y_train)

In [ ]:
preprocess_pipeline.transform(X_test)

#### Pipeline for preprocessing and modelling! 

We can further extend this pipeline by adding the last step containing our machine learning model.

We shall demonstrate this by adding an ML model to our pipeline (an SVM classifier).

In [ ]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

titanic_pipeline = Pipeline(steps=[
    ('PFeatures', PolynomialFeatures(2)),
    ('scaler', MinMaxScaler()),
    ('model', SVC(kernel='linear'))])

titanic_pipeline.fit(X_train, y_train)
y_pred = titanic_pipeline.predict(X_test)
print("accuracy: ", round(accuracy_score(y_test, y_pred),2))

The beauty of sklearn pipelines is in the fact that it will also learn how to scale the data based on the `X_train` features and then automatically use it when we get predictions from `X_test`. So in practice it also removes some preprocessing efforts and unnecessary risks away from us.

The diagram below is a visualisation of Scikit-Learn Pipeline

<img src="images/04_sklearn_advanced/pipe-transform.png" style="display: block;margin-left: auto;margin-right: auto;width: 600px"/>

Once a pipeline has been specified, model training is not much different from training a regular model. 

This also means we can easily evaluate whether certain preprocessing settings help our model's performance.

## 5. Validation

When training our models, we should reserve a separate set of data for comparing model performance and picking hyperparameters, i.e. Should I use order 2 polynomial features or order 3?

The test set should only be used to give a final evaluation of the model.


 <img src="images/04_sklearn_advanced/validation.png" style="display: block;margin-left: auto;margin-right: auto;height: 100px"/>
 
Otherwise information from the test set leaks into our training process invalidating our metrics.

### 5.1 Cross-Validation

If we only have a small dataset, we may not have enough data to create a seperate training set. In addition to this, our validation results will still be biased to that split of the train/validation set. Cross-validation is used to address these issues.

 <img src="images/04_sklearn_advanced/crossvalidation.png" style="display: block;margin-left: auto;margin-right: auto;height: 300px"/>

K-fold cross validation splits can be acquired using `KFold()` from `sklearn.model_selection`. Then, for each split, the model can be fit and relevant metrics can be computed.

It may be however more practical to use `cross_val_score()` from `sklearn.model_selection`. It returns an array of cross-validated scores for a model/pipeline on the data.

Let's see how our current model performs on the different validation splits:

In [ ]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(titanic_pipeline,
                         X_train,
                         y_train,
                         cv = 5,
                         scoring = 'accuracy'
                        )

print(f'Accuracy per fold: {scores.round(3)}')
print(f'Accuracy mean over folds: {scores.mean().round(3)}')

In [ ]:
X_train.shape

**Exercise**

Think about it: 
1. What would be the advantage of a _higher_ number of folds for your cross-validation?
    - What happens if the number of folds = 1? 
    - What happens if the number of folds = the number of data points in your train set (ie. 569 for the Titanic dataset)? 
    
2. What would be the disadvantage of a higher number of folds?

Write down your thoughts here...

### 5.2 Parameter tuning

To find the best parameters, we often want to check how each combination of parameters performs. This process in known as a grid seach.

We could manually collect the cross validation scores for each paramter combination. However, in Scikit-Learn this can be implemented directly.

`GridSearchCV()` from `sklearn.model_selection` allows tuning of model's parameters using cross-validated grid search. 

It requires a dictionary of parameters and the options it should compare. This does not only have to be model parameters, but parts of preprocessing too. We simply need to reference the correct pipeline step using 'step_name__parameter_name' as one of the dictionary keys (note the double underscore between the step and parameter name). In the end, the best set of parameters will be selected based on the provided metric.

In [ ]:
titanic_pipeline.get_params()

Pay attention to the way the params dictionary is written:
- A key is a string of the name of the model + 2 underscores + the specific parameter to search, for example classifier__criterion
- A value is a list/tuple of all the parameters values you want to search

This allows us to search possible parameters for any of the steps in the initial Pipeline (e.g. preprocessing too!) 

Note that with large datasets, many parameters and many cross validation folds, `GridSearchCV()` may take considerable time.

In [ ]:
from sklearn.model_selection import GridSearchCV

#providing the list of parameters
parameters_svm = {'PFeatures__degree': (1,2),
                 'scaler': [MinMaxScaler(),StandardScaler(),RobustScaler() ]}

#running grid search 
clf_svm = GridSearchCV(titanic_pipeline, parameters_svm, cv=5, scoring='accuracy')
clf_svm = clf_svm.fit(X_train, y_train)

print(f'CV accuracy score of the best SVM is: {clf_svm.best_score_:.3f}')
print(f'Best parameters were: {clf_svm.best_params_}')
#parameter importance

In addition to being easier to implement than a manual grid search cross-validation, `GridSearchCV()` helps us to avoid __information leaks__.

## 6. Results

Once we've established the best parameters, we should use them to retrain on the *WHOLE* training set:

In [ ]:
best_model = clf_svm.best_estimator_

In [ ]:
print(f'Accuracy on the test set: {best_model.score(X_test, y_test):.3f}')

It is however usually a good idea to not just blindly take the "best" model, but manually compare different models from the grid search.

In [ ]:
cv_results = pd.DataFrame(clf_svm.cv_results_)
cv_results.sort_values('rank_test_score').head(6)

After you have finished, it will likely be helpful to save you model for later.

In [ ]:
# from joblib import dump, load
# # Save the model
# dump(best_model, 'best_model.joblib') 

# Load a saved model
#best_model = load('best_model.joblib')

## Conclusions

Scikit-Learn can be a very powerful tool to deal with machine learning problems including data splitting, preprocessing, model training and model selection. Its simple interface and detailed documentation allow it to be used even by users with little experience.

* A huge variety of implemented models with sensible defaults, such as KMeans, SVC or RandomForest
* Supports both pandas and numpy as data inputs
* Data preprocessing techniques such as Scaler, OneHotEncoding, etc. 
* Validation tools such as train_test_split or cross validation
* Pipelines to evaluate not only your model and its hyperparameters, but also your preprocessing steps.
* GridSearch for parameter tuning selection
* Consistent implementation and API which makes it easy to extend with your own implemented building blocks (scorers, preprocessing techniques and even models)

Caveat: scikit-learn lacks tools to work with deep learning. For this purpose you would rather use deep learning libraries such as PyTorch or Tensorflow/Keras.